/* Stili generali */
body {
    margin: 0;
    padding: 0;
    font-family: 'Gotham Rounded Light', Arial, sans-serif;
    background-color: #f8f9fa; /* Colore chiaro per lo sfondo */
    color: #333; /* Testo scuro per un buon contrasto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenitore principale */
.main-container {
    width: 90%;
    max-width: 600px;
    text-align: center;
    background: #ffffff; /* Sfondo bianco per il contenitore */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leggera ombra per profondità */
    border-radius: 10px; /* Angoli arrotondati */
    padding: 20px;
}

/* Stile dell'intestazione */
.header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff; /* Blu acceso per il titolo */
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

.header p {
    font-size: 1rem;
    font-weight: normal;
    color: #555;
}

/* Sezione di selezione categoria */
.selection-container {
    margin: 20px 0;
    text-align: left;
}

.selection-container label {
    font-size: 1rem;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.selection-container select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f8f9fa;
    transition: border-color 0.3s;
}

.selection-container select:focus {
    border-color: #007bff;
    outline: none;
}

/* Pulsanti */
.action-buttons button {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.action-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.action-buttons button:hover:enabled {
    background-color: #0056b3;
    transform: scale(1.02);
}
